* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #f0f2f5;
}

#container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  width: 30%;
  height: 43vh;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
  border-radius: 10px;
}
.box > h1 {
  font-size: 24px;
  text-align: center;

}
.box > div  label{
    font-weight: 600;
    
}
#div1{
    margin-top: 20px;
}

input{
    width: 98%;
    height: 28px;
    margin-top: 10px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #646668;
}
::placeholder{
    padding: 5px;
   
}

.password{
    margin-top: 10px;
}

#button{
    width: 100%;
    margin-right: 5px;
    margin-top: 15px;
    height: 30px;
    background-color: #3360F8;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#buttondiv > a {
    float: right;
    margin-top: 5px;
} 
#div3{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    margin-top: 60px;
}
#div3 > h2 {
    font-size: 14px;
    font-weight: 400;
}
#signup{
    background-color: #FFFFFF;
    border: none;
    color: #3360F8;
    cursor: pointer;
    margin-left: 5px;
    font-size: 14px;
}
#message{
  display: none;
}